#geocode #map {
    display: block;
    width: 95%;
    margin-bottom: 3px;
    height: 450px;
    background: grey;
}

#geocode #panel {
    display: block;
    width: 95%;
    min-height: 450px;
    max-height: 450px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
